@font-face {
    font-family: "Colasta";
    src: url("/fonts/colasta/Colasta-Black.otf") format("opentype"),
        url("/fonts/colasta/Colasta-Black.ttf") format("truetype");
    font-weight: 400; /* Regular weight */
    font-style: normal;
}
@font-face {
    font-family: "Colasta";
    src: url("/fonts/colasta/Colasta.otf") format("opentype"),
        url("/fonts/colasta/Colasta.ttf") format("truetype");
    font-weight: 400; /* Regular weight */
    font-style: normal;
}

@font-face {
    font-family: "Colasta";
    src: url("/fonts/colasta/Colasta-Bold.otf") format("opentype"),
        url("/fonts/colasta/Colasta-Bold.ttf") format("truetype");
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: "Colasta";
    src: url("/fonts/colasta/Colasta-Italic.otf") format("opentype"),
        url("/fonts/colasta/Colasta-Italic.ttf") format("truetype");
    font-weight: 400; /* Regular weight */
    font-style: italic;
}

@font-face {
    font-family: "Colasta";
    src: url("/fonts/colasta/Colasta-Light.otf") format("opentype"),
        url("/fonts/colasta/Colasta-Light.ttf") format("truetype");
    font-weight: 400; /* Regular weight */
    font-style: italic;
}

@font-face {
    font-family: "Colasta";
    src: url("/fonts/colasta/Colasta-LightItalic.otf") format("opentype"),
        url("/fonts/colasta/Colasta-LightItalic.ttf") format("truetype");
    font-weight: 400; /* Regular weight */
    font-style: italic;
}

@font-face {
    font-family: "Colasta";
    src: url("/fonts/colasta/Colasta-Thin.otf") format("opentype"),
        url("/fonts/colasta/Colasta-Thin.ttf") format("truetype");
    font-weight: 400; /* Regular weight */
    font-style: italic;
}

@font-face {
    font-family: "Colasta";
    src: url("/fonts/colasta/Colasta-ThinItalic.otf") format("opentype"),
        url("/fonts/colasta/Colasta-ThinItalic.ttf") format("truetype");
    font-weight: 400; /* Regular weight */
    font-style: italic;
}

@font-face {
    font-family: "Colasta";
    src: url("/fonts/colasta/Colasta-BoldItalic.otf") format("opentype"),
        url("/fonts/colasta/Colasta-BoldItalic.ttf") format("truetype");
    font-weight: 700; /* Bold weight */
    font-style: italic;
}

@font-face {
    font-family: "Colasta";
    src: url("/fonts/colasta/Colasta-BlackItalic.otf") format("opentype"),
        url("/fonts/colasta/Colasta-BlackItalic.ttf") format("truetype");
    font-weight: 700; /* Bold weight */
    font-style: italic;
}
