@import "@/sass/global_req.scss";

.LottieCards {
    padding: 0 25px;
    &-wrapper {
        max-width: $max_w;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        @include responsive(lg) {
            grid-template-columns: 1fr;
            gap: 48px;
        }

        .card {
            padding: 20px 0;
            border-radius: 0.5rem;
            // border: 1px solid #4f46e5;
            // border-left: 1px solid #231c91;
            border-radius: 12px;

            @include responsive(sm) {
                padding: 0;
            }

            .frame {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 330px !important;

                @include responsive(lg) {
                    grid-template-columns: 1fr;
                    height: auto !important;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                @media (max-width: 767px) {
                    height: 340px !important;
                }
            }
            .content {
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;

                @include responsive(lg) {
                    padding-bottom: 30px;
                    border-bottom: 1px solid #231c91 !important;
                    border-radius: 12px;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                }

                @media (min-width: 1200px) {
                    height: calc(100% - 280px);
                    justify-content: space-between;
                }

                @media (max-width: 1250px) {
                    height: auto;
                }

                .title {
                    color: #000;
                    font-family: $mont;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    margin-bottom: 10px;
                    @include responsive(md) {
                        font-size: 18px;
                        line-height: 1.5;
                    }

                    color: #202636;
                    text-transform: capitalize;
                    line-height: 1;
                    .mod {
                        color: #4f46e5;
                        font-weight: 600;
                    }
                    @include responsive(lg) {
                        font-size: 30px;
                        line-height: 1.2;
                    }

                    @include responsive(md) {
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 1.2;
                        padding: 0px 10px !important;
                    }
                }
                .description {
                    color: #000;
                    font-family: $mont;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    @include responsive(md) {
                        font-size: 18px;
                        line-height: 1.5;
                    }
                    @include responsive(sm) {
                        font-size: 12px;
                        line-height: 1.5;
                    }
                }
                button {
                    align-self: center;
                    margin-top: 30px;
                    width: 80%;
                    border: 1px solid #231c91;
                    height: 42px !important;
                    font-size: 20px;
                    @include responsive(md) {
                        font-size: 20px;
                        font-weight: 600;
                    }
                    @include responsive(sm) {
                        font-size: 18px !important;
                        width: 90% !important;
                        height: 48px !important;
                        padding: 0;
                    }
                }
            }
        }
    }
}
